
/*news css*/

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;

}

body{
	background-color: #d9d9d9;
	font-size: 12px;
}

.top {
	width: 100%;
	min-width: 1000px;
	height: 27px;
	background:url(../images/top_bg.jpg) repeat-x;
}

.top ul{
	float: right;
	margin-right:40px;
}

.top li{
	list-style-image: url(../images/li_bg.gif);
	font-size: 12px;
	line-height: 27px;
	float:left;	
	margin-left:12px;
}

/*top结束*/

.wrap{
	width: 1000px;
	margin:0 auto;
}

.wrap::after{
	content: "";
	clear: both;
	display: table;

}

.logo{
	width: 1000px;
	height: 100px;
	background-color: white;
}

.logo_left{
	width: 150px;
	height: 80px;
	float: left;
}

.logo_right{
	width: 300px;
	line-height:80px;
	float:right;
	color: grey;
	font-size: 12px;
}

.logo_right img{
	vertical-align: middle;
	margin-right: 5px;
}

.tel{
	font-size: 18px;
	color: red;
}

/*top结束*/

.navbar{
	width: 1000px;
	height: 40px;
	font-size:16px; 
	color:#fff;
	background:url(../images/nav_bg.jpg);
}

.navbar ul{
	width: 550px;	
	line-height: 40px;
	float: left;
	margin-left: 50px;

}

.navbar li{
	list-style-type: none;
	float: left;
	margin-right: 30px;
}


.navbar li a{
	text-decoration: none;
	color: #fff;
}

.navbar_search{
	width: 250px;
	line-height: 40px;
	float: left;
	margin-left: 40px;

}

.search_text{
	width: 200px;
	height: 25px;	
	background:url(../images/search.jpg) no-repeat right center;
	background-color: white;
}

/*navbar结束*/

.navimg{
	height: 320px;
	overflow: hidden;
}

.ad{
	height:310px;
	overflow: hidden;
}

/*navimg结束*/

.news_inner{
	width: 1000px;
	background-color: #FFF;
	overflow: auto;
}


.news_inner_left{
	width: 200px;
	float: left;
	border-right:1px solid #e6e6e6;

}

.news_inner_left h3{
	height: 35px;
	line-height: 35px;
	padding-left:20px;
	background:url(../images/titile_bg.gif) repeat-x;
}

.news_inner_left li{
	list-style-type: none;
	margin:10px 15px;

}

.news_inner_left li a{
	color: #666666;
	background:url(../images/li_bg.gif) no-repeat left center;
	padding-left:15px;

}

.news_inner_right{
	width: 760px;
	float: right;
}

.news_inner_right img{
	width: 550px;
	height:380px;
	margin:10px 55px;
}

.news_inner_right::after{
	content: "";
	clear: both;
	display: table;
}

.news_inner_right h2{
	font-size:14px;
	color: #666;
	height: 35px;
	line-height: 35px;
	background: url(../images/type_bg.png) repeat-x;
	padding-left: 10px;
}

.news_inner_right h1{
	text-align: center;
	font-size: 20px;
	margin:10px 0;
}

.news_info{
	text-align: center;
	border-bottom: 1px dotted #666
}

.news_content{
	margin: 10px;
	font-size: 14px;
	padding: 10px;
	text-indent: 2em;
}

.news_list li{
	list-style-type: none;
	margin:15px;
	border-bottom:1px dotted #8c8c8c;

}

.news_list li a{
	text-decoration: none;
	color:#0d0d0d;
	margin-top:10px;
}

.news_list span{
	float: right;
}


.page{
	height: 50px;
	margin: 10px auto;
	text-align: center;
}

.page a {
	text-decoration: none;
	display: inline-block;
	border:1px solid #E8E8E8;
	padding: 5px 10px;
	margin:5px;
}


.page a:link,.page a:visited{
	color:#000;
}

.page a:hover,.page a:active{
	background-color: #ff2600;
}




/*main结束/

/*wrap结束*/

.footer{
	width: 1000px;
	height: 180px;
	margin:10px auto;
}

.copyright{
	width: 1200px;
	height: 200px;

}

.copyright li{
	list-style-type: none;
	width: 200px;	
	margin:5px auto;
	float: left;
	background:url(../images/line.png) no-repeat right center;
	text-align: center;
	line-height: 25px;
}

.copyright li a{
	text-decoration: none;
	color:#4d4d4d;
	font-size: 16px;
}

.copyright li ul li a{
	font-size: 14px;
}
/*footer结束*/










