
/*cv template*/

html,body,*{
	margin:0;
	padding: 0;
	box-sizing: border-box;	
	height: 100%
	width:100%;
	font-family: "Times New Roman",Sans-serif;
}


body{
	background: url("../imgs/bgimg1.jpg");
}

.container{
	position: absolute;
	width: 100%;
	height: 100%;
}

.navbar{
	position: fixed;
	width:20%;
	left:5%;
	top: 10%;
	bottom:10%;
	padding: 10px;
	box-shadow: 8px 5px 10px #4d4d4d;
	background:linear-gradient(to bottom,#33ccff 0%, #ffccff 100%);
}

.main{
	position:relative;
	width: 65%;
	left: 25%;
	margin-left:10px;
	overflow: hidden;
}

div.hidden,nav.hidden{
	display: none;
}


.navbar img{
	position: absolute;
	top:15%;
	left:30%;
	right:30%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:5px solid #e6e6e6;

}

.navbar ul{
	list-style-type: none;
	position: absolute;
	top:35%;
	left:25%;
	right:25%;
	bottom: 10%;
	width: 120px;
}

.navbar li{
	font-size: 1.1em;
	text-align: center;
	margin-top:10px;
}

.navbar li a{
	display: inline-block;
	text-decoration: none;
	color:black;
	border:1px solid #a6a6a6;
	border-radius: 15px;
	padding: 8px;
}

.navbar li a:hover,.navbar li a:active{
	background-color:#ff6600;
	font-size: 20px;
}

#about,#production,#skills,#description,#work,#education{
	min-height: 100%;
	padding:4em 3em 3em 4em;
	box-shadow: 8px 5px 7px #4d4d4d;
	margin:10px 15px 10px 0;
	background:linear-gradient(to right,#99e0ff 0%, #e6f7ff 100%);
	overflow-y: auto;
}

h1{margin:1.5em 0;
   font-size: 24px;
   text-shadow: 3px 4px 5px black;
}

h2,h3{margin:0.5em 0;}

p{text-indent: 0.5em; margin:0.5em;}


.main ul li{
	margin-bottom:0.8em;
	margin-left:2em;
}

.main span{
	float: right;
	margin-right:6em;
}

#btn{
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color:#c0c0c0;
  color:black;
  box-shadow: 8px 5px 7px #4d4d4d;
  font-size: 18px;
  cursor: pointer;
  padding: 15px;
  border-radius: 40px;
  z-index:1px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  visibility: hidden;
}

#btn:hover{
	background-color: #555555;
    color: white;
}


#btn.show{
	visibility: visible;
}

@media only screen and (max-width:768px){
	.container{
		position: absolute;
		width: 100%;
		height: auto;
	}

	.main{
		position: static;
		margin-left:0;
		width: 100%;
		height: 100%;
	}

	.navbar{
		position: -webkit-sticky;
		position: sticky;
		top:0;
		width: 100%;
		height: 130px;
		overflow: auto;
	}

	.navbar img{
		position: absolute;
		left:10px;
		top:10px;
	}

	.navbar ul{
		list-style-type: none;
		position: absolute;
		top:20%;
		left:17%;
		right:0;
		width: 550px;
	}

	.navbar li{
		margin-top:8px;
	}

	.navbar li a{
		display: inline-block;
		float: left;
		text-decoration: none;
		color:black;
		border:1px solid #a6a6a6;
		border-radius: 20px;
		padding: 5px;
		margin-left:8px;
	}
}







