

html,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	font-family: sans-serif;
	background: linear-gradient(#666666,#d9d9d9);

}

h1{
	margin:50px auto;
	width:30%;
	color: #000;
}

.flex-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right,#80d4ff,#d9ffb3);
}

.box{
	width: 20%;
	min-height: 200px;
	margin:6% auto;
	box-shadow: 2px 2px 15px 10px #4d4d4d;
	background: #e6ccb3;
	position: relative;
	display: flex;
}

.box:hover{
	font-size: 18px;
	background-color:#bf8040;

}

h2{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



